@use "sass:color";

@import url('https://fonts.googleapis.com/css2?family=Domine:wght@700&family=Roboto&display=swap');
$font-title: 'Domine', serif;
$title-size: 3em;
$font-text: 'Roboto', sans-serif;
$text-size: 16px;
$main-color: #3b444b;
